@import "configuration.less";


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    text-transform: capitalize;
}

body {
    overflow: hidden;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #f9f9f9;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

#preview {
    border-radius: 5px;
    overflow: auto;
    position: absolute;
    top: 100px;
    right: 320px;
    width: 150;
    height: 150;
    border: 3px solid gray;
}

#canvas {
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    top: @toolbarHeight;
    right: @propertiesWidth;
    left: @paletteWidth;
    bottom: 0px;
    overflow: scroll;
    background-color: transparent;
}

#toolbar {
    position: absolute;
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
    top: 0px;
    left: 200px;
    height: @toolbarHeight;
    right: 0px;
    overflow: hidden;
    z-index: 1000;
    background-color: #3f51b5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

#toolbar_hint {
    position: absolute;
    top: 19px;
    height: @toolbarHeight;
    right: 40px;
    color: white;
    opacity: 0.5;
}

#toolbar_hint a {
    color: white;
}

#propertyPane {
    border-right: 1px solid #e0e0e0;
    bottom: 0;
    background: #fff;
    color: #333;
    display: block;
    font-family: 'RobotoDraft', sans-serif;
    position: fixed;
    right: 0px;
    top: @toolbarHeight;
    width: @propertiesWidth;
    z-index: 4;
}

#propertyHeader {
    color: #3f51b5;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    overflow: hidden;
    padding: 10px;
    font-family: "RobotoDraft", sans-serif;
    margin-top: 10px;
    text-rendering: optimizelegibility;
}

#propertyHeader1 {
    color: #3f51b5;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    overflow: hidden;
    padding: 10px;
    font-family: "RobotoDraft", sans-serif;
    margin: 0;
    text-rendering: optimizelegibility;
}

.info {
    padding-left: 10px;
}

#properties .panel-heading {
    line-height: 12px;
}

#properties .panel {
    padding: 0px;
    margin: 5px;
    border-radius: 0px;
}

#properties .form-control {
    width: 100px;
    display: inline;
}

#palettePane {
    border-right: 1px solid #e0e0e0;
    bottom: 0;
    background: #fff;
    color: #333;
    display: block;
    font-family: 'RobotoDraft', sans-serif;
    position: fixed;
    left: 0px;
    top: @toolbarHeight;
    width: @paletteWidth;
    z-index: 4;
}


.palette_node_element {
    border: 1px solid gray;
    background-color: #f3f3f3;
    padding: 10px;
    cursor: move;
    width: 130px;
    margin: 40px 30px;
    text-align: center;
    align: center;
    border-radius: 5px;
}

#logo {
    display: block;
    margin: auto;
    padding: 12px 24px 10px 24px;
    position: fixed;
    left: 0;
    top: 0;
    height: @toolbarHeight;
    width: 200px;
    font-size: 24px;
    font-weight: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    z-index: 1000;

}

.panel {
    border-left: 5px solid #3f51b5;
    padding-left: 15px;
    margin-bottom: 30px;
}

.panel-heading {
    font-size: 15px;
    line-height: 32px;
    color: #212121;
    font-family: "RobotoDraft", sans-serif;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}

input.form-control {
    border: 1px solid gray;
    border-radius: 6px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
}

button.gray,
a.gray,
input[type=submit].gray {
    padding: 10px 10px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px #dadada;
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4),
            color-stop(100%, #f1f1f1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
    /* IE10+ */
    background: linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',
            endColorstr='#f1f1f1', GradientType=0);
    /* IE6-9 */
    color: #555;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
    line-height: 1;
    font-size: 11px;
    min-width: 80px;
}

.gray:hover {
    border: 1px solid #c6c6c4;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8),
            color-stop(100%, #f1f1f1));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    /* IE10+ */
    background: linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',
            endColorstr='#f1f1f1', GradientType=0);
    /* IE6-9 */
    color: #222;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);
    -moz-box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);
    box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);
}

.gray:active {
    border: 1px solid #c6c6c4;
    color: #222;
    -webkit-box-shadow: inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 2px 4px #f1f1f1, 0 1px 0 0 #eeeeee;
}

.disabled {
    cursor: default !important;
    color: #888 !important;
    opacity: 0.8;
}

#freeHandButtons {
    padding-left: 10px;
    padding-bottom: 10px;
}

#freeHandButtons>button {
    margin-left: 10px;
}

#canvasNew {
    width: 273px;
    height: 250px;
    border: dotted;
    margin-left: 10px;
}
